Repository GEOS-ESM/GOCART, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/aerosol-team, @tclune, @weiyuan-jiang, @GEOS-ESM/cmake-team, @GEOS-ESM/python-transition-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GOCART should be owned by the Aerosol Team
* @GEOS-ESM/aerosol-team

# NOAA Extras are Tom, Weiyuan for now
/CCPP/                  @tclune @weiyuan-jiang
/ESMF/Aerosol_GridComp/ @tclune @weiyuan-jiang
/ESMF/NUOPC/            @tclune @weiyuan-jiang
/ESMF/Shared/           @tclune @weiyuan-jiang
/ESMF/UFS/              @tclune @weiyuan-jiang

/ESMF/GOCART_GridComp/   @GEOS-ESM/aerosol-team

# GOCART2G is Elliot for now
/ESMF/GOCART2G_GridComp/ @GEOS-ESM/aerosol-team

# The CMake Team should know/approve these
/.github/    @GEOS-ESM/cmake-team
/.circleci/  @GEOS-ESM/cmake-team
/.codebuild/ @GEOS-ESM/cmake-team

# The GEOS CMake Team should be notified about and approve config changes
/config/ @GEOS-ESM/cmake-team

# The Python Transition Team will own Python files
# until the Python 3 transition is completed
*.py @GEOS-ESM/python-transition-team

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

Trimmed the number of instances (tags) of CH4; deleted the pathnames of very old emissions files
  ESMF/GOCART_GridComp/CH4_GridComp/CH4_GridComp---animls.rc
  ESMF/GOCART_GridComp/CH4_GridComp/CH4_GridComp---full.rc
  ESMF/GOCART_GridComp/CH4_GridComp/CH4_GridComp.rc
  ESMF/GOCART_GridComp/CH4_GridComp/CH4_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/CH4_GridComp/CH4_Registry.rc
Owners: @GEOS-ESM/aerosol-team

full instance of CO will now use full instance of CH4, if available
  ESMF/GOCART_GridComp/CO_GridComp/CO_GridCompMod.F90
Owners: @GEOS-ESM/aerosol-team

Fixes #165. Add SetVM to UFS Aerosol Cap
  CHANGELOG.md
  ESMF/UFS/Aerosol_Cap.F90
Owners: @GEOS-ESM/aerosol-team, @tclune, @weiyuan-jiang

Updates to QFED v2.6r1 for GEOSIT and R21C
  ESMF/GOCART_GridComp/BC_GridComp/GEOSIT/BC_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/BC_GridComp/R21C/BC_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/BRC_GridComp/GEOSIT/BRC_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/BRC_GridComp/R21C/BRC_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/CO_GridComp/GEOSIT/CO_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/CO_GridComp/R21C/CO_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/NI_GridComp/GEOSIT/NI_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/NI_GridComp/R21C/NI_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/SU_GridComp/GEOSIT/SU_GridComp_ExtData.rc
  ESMF/GOCART_GridComp/SU_GridComp/R21C/SU_GridComp_ExtData.rc
Owners: @GEOS-ESM/aerosol-team

First complete prototype of GCC:SS2G aerosol coupling
  ESMF/GOCART2G_GridComp/SS2G_GridComp/SS2G_GridCompMod.F90
  ESMF/GOCART2G_GridComp/SS2G_GridComp/SS2G_StateSpecs.rc
Owners: @GEOS-ESM/aerosol-team

Update CircleCI to use Baselibs 7.5.0
  .circleci/config.yml
  components.yaml
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/aerosol-team

Updated GCC::GOCART2G interface. SS2G, DU2G and SU2G done so far.
  ESMF/GOCART2G_GridComp/DU2G_GridComp/DU2G_GridCompMod.F90
  ESMF/GOCART2G_GridComp/DU2G_GridComp/DU2G_StateSpecs.rc
  ESMF/GOCART2G_GridComp/SS2G_GridComp/SS2G_GridCompMod.F90
  ESMF/GOCART2G_GridComp/SS2G_GridComp/SS2G_StateSpecs.rc
  ESMF/GOCART2G_GridComp/SU2G_GridComp/SU2G_GridCompMod.F90
  ESMF/GOCART2G_GridComp/SU2G_GridComp/SU2G_StateSpecs.rc
Owners: @GEOS-ESM/aerosol-team

Added SO4 diagnostic exports to SU2G.
  ESMF/GOCART2G_GridComp/SU2G_GridComp/SU2G_GridCompMod.F90
  ESMF/GOCART2G_GridComp/SU2G_GridComp/SU2G_StateSpecs.rc
Owners: @GEOS-ESM/aerosol-team

vb:extinction simulator in progress
  ESMF/Apps/CMakeLists.txt
  ESMF/Apps/GOCART2G_AopMod.F90
  ESMF/Apps/GOCART2G_SimpleBundleMod.F90
  ESMF/Apps/aop_calculator.F90
  ESMF/Apps/aop_calculator.py
  ESMF/Apps/aop_calculator.rc
  ESMF/CMakeLists.txt
  Process_Library/GOCART2G_MieMod.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/aerosol-team, @GEOS-ESM/python-transition-team

vb:correct the units and start to clean
  ESMF/Apps/GOCART2G_AopMod.F90
Owners: @GEOS-ESM/aerosol-team

fixed a typo in the surface PM25 calculation
  ESMF/GOCART2G_GridComp/GOCART2G_GridCompMod.F90
Owners: @GEOS-ESM/aerosol-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/aerosol-team

compute total extinction for the wavelengths_profile and add export
  ESMF/GOCART2G_GridComp/GOCART2G_GridCompMod.F90
  ESMF/GOCART2G_GridComp/GOCART2G_StateSpecs.rc
Owners: @GEOS-ESM/aerosol-team

Added IS_G2G_INSTANCE_RUNNING, to help parent GC determine whether to AddConnectivity.
  ESMF/GOCART2G_GridComp/GOCART2G_GridCompMod.F90
Owners: @GEOS-ESM/aerosol-team

Update components to match 10.22.4
  CHANGELOG.md
  components.yaml
Owners: @GEOS-ESM/aerosol-team

vb:changed carbonaceous bins order
  ESMF/Apps/aop_calculator.rc
Owners: @GEOS-ESM/aerosol-team

Added GCC coupling for NI2G and CA2G -- MSL
  ESMF/GOCART2G_GridComp/CA2G_GridComp/CA2G_GridCompMod.F90
  ESMF/GOCART2G_GridComp/CA2G_GridComp/CA2G_StateSpecs.rc
  ESMF/GOCART2G_GridComp/NI2G_GridComp/NI2G_GridCompMod.F90
  ESMF/GOCART2G_GridComp/NI2G_GridComp/NI2G_StateSpecs.rc
  ESMF/GOCART2G_GridComp/SS2G_GridComp/SS2G_GridCompMod.F90
  Process_Library/GOCART2G_Process.F90
Owners: @GEOS-ESM/aerosol-team

Export SCACOEF fields to the parent GridComp (chemistry), for use by its other children; also added a utility routine so the parent GridComp can determine whether certain aerosol instances are running
  ESMF/GOCART2G_GridComp/GOCART2G_GridCompMod.F90
Owners: @GEOS-ESM/aerosol-team

edited CHANGELOG
  CHANGELOG.md
Owners: @GEOS-ESM/aerosol-team

Simple changes for testing coupling to GEOS-Chem -- MSL
  ESMF/GOCART2G_GridComp/CA2G_GridComp/CA2G_GridCompMod.F90
Owners: @GEOS-ESM/aerosol-team

Remove declaration of Disable_Convection, no longer used
  ESMF/GOCART_GridComp/GOCART_GridCompMod.F90
Owners: @GEOS-ESM/aerosol-team

Added CHANGELOG entry for removing Disable_Convection
  CHANGELOG.md
Owners: @GEOS-ESM/aerosol-team

fixes #172
  ESMF/GOCART2G_GridComp/NI2G_GridComp/AMIP/NI2G_GridComp_ExtData.yaml
  ESMF/GOCART2G_GridComp/NI2G_GridComp/NI2G_GridComp_ExtData.yaml
  ESMF/GOCART_GridComp/CO2_GridComp/AMIP/CO2_GridComp_ExtData.yaml
  ESMF/GOCART_GridComp/CO2_GridComp/CO2_GridComp_ExtData.yaml
Owners: @GEOS-ESM/aerosol-team

Removed nbinsDU and nbinsSS arguments from subroutine NIheterogenousChem
  CHANGELOG.md
  ESMF/GOCART2G_GridComp/NI2G_GridComp/NI2G_GridCompMod.F90
  Process_Library/GOCART2G_Process.F90
Owners: @GEOS-ESM/aerosol-team
